name: Build Kivy APK

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential git zip unzip \
          openjdk-17-jdk \
          python3-pip python3-setuptools python3-wheel \
          libffi-dev libssl-dev liblzma-dev zlib1g-dev

    - name: Install Buildozer
      run: |
        pip install --upgrade pip Cython buildozer

    - name: Install Android SDK/NDK + tools
      run: |
        sudo apt install -y android-sdk android-sdk-platform-tools
        yes | sdkmanager --licenses || true
        sdkmanager "platforms;android-31" "build-tools;31.0.0" "platform-tools" "tools"

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: myapp-apk
        path: bin/*.apk
